<footer>
	{% include 'PortfolioBundle:layout:sharebar.html.twig' with {'uri': uri} %}
    {% import 'PortfolioBundle::macros.html.twig' as macros %}
	<section>
		<h1>{{ "footer.title.websites" | trans }}</h1>
        {% if sitesInternet is not null %}
            <ul class="liste">
                {% for siteInternet in sitesInternet  %}
                    <li>
                        <a title="{{ siteInternet.nom }}" {{- macros.choice_url( siteInternet.slug, siteInternet.urlExternal ) -}}>
                            {{ siteInternet.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>{{ "footer.title.otherprojects" | trans }}</h1>
        {% if autresProjets is not null %}
            <ul class="liste">
                {% for autreProjet in autresProjets  %}
                    <li>
                        <a title="{{ autreProjet.nom }}" {{- macros.choice_url( autreProjet.slug, autreProjet.urlExternal ) -}}>
                            {{ autreProjet.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>{{ "footer.title.files" | trans }}</h1>
        {% if fichiers is not null %}
            <ul class="liste">
                {% for fichier in fichiers %}
                    <li>
                        <a  title="{{ fichier.nom }}" target="_blank" href="{{ asset('/bundles/portfolio/files') }}{{ fichier.url }}">
                            {{ fichier.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section id="twitter">
		<h1>{{ "footer.title.tweets" | trans  }} ( @{{ twitter_account }} )</h1>
        <ul>
        {% for key, tweet in tweets %}
            <li>
                <article>
                    <time>{{ tweet['date'] }}</time>
                    <div>{{ tweet['text']|raw }}</div>
                </article>
            </li>
        {% endfor %}
        </ul>
	</section>

	<div id="pied_page">
		<p>
            <small>Copyright © 2014</small>
        </p>
	</div>
</footer>