<footer>
	{% include 'PortfolioBundle:layout:sharebar.html.twig' with {'uri': uri} %}
    {% import 'PortfolioBundle::macros.html.twig' as macros %}
	<section>
		<h1>{{ "footer.title.websites" | trans }}</h1>
        {% if websites is not null %}
            <ul class="liste">
                {% for website in websites  %}
                    <li>
                        <a title="{{ website.nom }}" {{- macros.choice_url( website.slug, website.urlExternal ) -}}>
                            {{ website.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>{{ "footer.title.otherprojects" | trans }}</h1>
        {% if otherProjects is not null %}
            <ul class="liste">
                {% for otherProject in otherProjects  %}
                    <li>
                        <a title="{{ otherProject.nom }}" {{- macros.choice_url( otherProject.slug, otherProject.urlExternal ) -}}>
                            {{ otherProject.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>{{ "footer.title.files" | trans }}</h1>
        {% if files is not null %}
            <ul class="liste">
                {% for file in files %}
                    <li>
                        <a  title="{{ file.nom }}" target="_blank" href="{{ asset('/bundles/portfolio/files') }}{{ file.url }}">
                            {{ file.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section id="twitter">
		<h1>{{ "footer.title.tweets" | trans  }} ( @{{ twitter_account }} )</h1>
        <ul>
        {% for key, tweet in tweets %}
            <li>
                <article>
                    <time>{{ tweet['date'] }}</time>
                    <div>{{ tweet['text']|raw }}</div>
                    {% for url in tweet['urls'] %}
                        <a target="_blank" href="{{ url }}">{{ url }}</a>
                    {% endfor %}
                </article>
            </li>
        {% endfor %}
        </ul>
	</section>

	<div id="pied_page">
		<p>
            <small>Copyright © 2014</small>
        </p>
	</div>
</footer>