<footer>
	{% include 'PortfolioBundle:layout:sharebar.html.twig' %}
    {% import 'PortfolioBundle::macros.html.twig' as macros %}

	<section>
		<h1>Sites internet</h1>
        {% if sitesInternet is not null %}
            <ul class="liste">
                {% for siteInternet in sitesInternet  %}
                    <li>
                        <a title="{{ siteInternet.nom }}" {{- macros.choice_url( siteInternet.urlInternal, siteInternet.urlExternal ) -}}>
                            {{ siteInternet.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>Autres projets de développement</h1>
        {% if autresProjets is not null %}
            <ul class="liste">
                {% for autreProjet in autresProjets  %}
                    <li>
                        <a title="{{ autreProjet.nom }}" {{- macros.choice_url( autreProjet.urlInternal, autreProjet.urlExternal ) -}}>
                            {{ autreProjet.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section>
		<h1>Fichiers</h1>
        {% if fichiers is not null %}
            <ul class="liste">
                {% for fichier in fichiers %}
                    <li>
                        <a  title="{{ fichier.nom }}"  href="/bundles/portfolio/PortfolioBundle{{ fichier.url }}">
                            {{ fichier.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
	</section>

	<section id="twitter">
		<h1>Derniers tweets ( @{{ twitter_account }} )</h1>
        <ul>
        {% for key, tweet in tweets %}
            <li>
                <article>
                    <time>{{ tweet['date'] }}</time>
                    <div>{{ tweet['text']|raw }}</div>
                </article>
            </li>
        {% endfor %}
        </ul>
	</section>

	<div id="pied_page">
		<p>2013 copyright Matthieu Cneude | Powered by Symfony 2</p>
	</div>
</footer>