<header>
	<div class="titres">
		<h1>Matthieu Cneude</h1>
		<h2>Intégrateur / Développeur web</h2>
	</div>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="{{ path( 'homepage' ) }}">
	            	<span class="icon-accueil">Accueil</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'quisuisje' ) }}">
	            	<span class="icon-moi">Qui suis-je ?</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'projets' ) }}">
	            	<span class="icon-projets">Projets</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'parcours' ) }}">
	            	<span class="icon-parcours">Parcours</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'contact' ) }}">
	            	<span class="icon-telephone">Contactez moi</span>
	            </a>
	        </li>
	    </ul>
	</nav>
</header>