{% macro is_current_route(route) %}
    {%- if app.request.attributes.get('_route') == route -%}
        {{- ' class="active"' -}}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}

<header>
	<div class="titres">
		<h1>Matthieu Cneude</h1>
		<h2>Intégrateur / Développeur web</h2>
	</div>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="{{ path( 'homepage' ) }}"  {{- croute.is_current_route('homepage') -}}>
	            	<span class="icon-accueil">Accueil</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'quisuisje' ) }}"  {{- croute.is_current_route('quisuisje') -}}>
	            	<span class="icon-moi">Qui suis-je ?</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'projets' ) }}"  {{- croute.is_current_route('projets') -}}>
	            	<span class="icon-projets">Projets</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'parcours' ) }}"  {{- croute.is_current_route('parcours') -}}>
	            	<span class="icon-parcours">Parcours</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'contact' ) }}" {{- croute.is_current_route('contact') -}}>
	            	<span class="icon-telephone">Contactez moi</span>
	            </a>
	        </li>
	    </ul>
	</nav>
</header>