{% import 'PortfolioBundle::macros.html.twig' as macros %}

<header>
	<a href="{{ path( 'homepage' ) }}" class="titres">
		<h1>Matthieu Cneude</h1>
		<h2>{{ "title.description" | trans }}</h2>
	</a>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="{{ path( 'homepage' ) }}"  {{- macros.is_current_route('homepage') -}}>
	            	<span class="icon-accueil">{{ "menu.accueil" | trans }}</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'quisuisje' ) }}"  {{- macros.is_current_route('quisuisje') -}}>
	            	<span class="icon-moi">{{ "menu.qui-suis-je" | trans }}</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'projets' ) }}"  {{- macros.is_current_route('projets') -}} {{- macros.is_current_route('projet_interieur') -}}>
	            	<span class="icon-projets">{{ "menu.projets" | trans }}</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'parcours' ) }}"  {{- macros.is_current_route('parcours') -}}>
	            	<span class="icon-parcours">{{ "menu.parcours" | trans }}</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'contact' ) }}" {{- macros.is_current_route('contact') -}}>
	            	<span class="icon-telephone">{{ "menu.contact" | trans }}</span>
	            </a>
	        </li>
	    </ul>
	</nav>
    <aside class="translation clearfix">
        {% for language in languages %}
            {% set variables = {"_locale": language} %}
            {% if app.request.attributes.get('slug') is defined and app.request.attributes.get('slug') is not null %}
                {% set variables = {'_locale' : language, 'slug' : app.request.attributes.get('slug')} %}
            {% endif %}
            <a href="{{ path(app.request.attributes.get('_route'), variables) }}">
                <img src="{{ asset('/bundles/portfolio/images/translation/'~language~'.png') }}" title="traduire en {{ language }}" alt="traduire en {{ language }}" />
            </a>
        {% endfor %}
    </aside>
</header>