{% import 'PortfolioBundle::macros.html.twig' as macros %}

<header>
	<a href="{{ path( 'homepage' ) }}" class="titres">
		<h1>Matthieu Cneude</h1>
		<h2>{{ "title.description" | trans }}</h2>
	</a>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="{{ path( 'homepage' ) }}"  {{- macros.is_current_route('homepage') -}}>
	            	<span class="icon-accueil">Accueil</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'quisuisje' ) }}"  {{- macros.is_current_route('quisuisje') -}}>
	            	<span class="icon-moi">Qui suis-je ?</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'projets' ) }}"  {{- macros.is_current_route('projets') -}}>
	            	<span class="icon-projets">Projets</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'parcours' ) }}"  {{- macros.is_current_route('parcours') -}}>
	            	<span class="icon-parcours">Parcours</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'contact' ) }}" {{- macros.is_current_route('contact') -}}>
	            	<span class="icon-telephone">Contactez moi</span>
	            </a>
	        </li>
	    </ul>
	</nav>
    <aside class="translation">
        <a href="{{ path('choose_language', {'language' : 'en'}) }}">|
            <img src="{{ asset('/bundles/portfolio/images/translation/United-Kingdom.png') }}" title="traduire en anglais" alt="traduire en anglais" />
        </a>
    </aside>
</header>