{% import 'PortfolioBundle::macros.html.twig' as macros %}

<header>
	<a href="{{ path( 'homepage' ) }}" class="titres">
		<h1>Matthieu Cneude</h1>
	</a>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="{{ path( 'homepage' ) }}"  {{- macros.is_current_route('homepage') -}}>
	            	<span>{{ "menu.accueil" | trans }}</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'quisuisje' ) }}"  {{- macros.is_current_route('quisuisje') -}}>
	            	<span>{{ "menu.qui-suis-je" | trans }}</span>
	            </a>
	        </li>
	        <li>
	            <a href="{{ path( 'projets' ) }}"  {{- macros.is_current_route('projets') -}} {{- macros.is_current_route('projet_interieur') -}}>
	            	<span>{{ "menu.projets" | trans }}</span>
	            </a>
	        </li>
	        <li>
                <a href="{{ path( 'parcours' ) }}"  {{- macros.is_current_route('parcours') -}}>
	            	<span>{{ "menu.parcours" | trans }}</span>
	            </a>
	        </li>
            <li>
                <a href="{{ blog_url }}" target="_blank">
                    <span>{{ "Blog" }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path( 'contact' ) }}" {{- macros.is_current_route('contact') -}}>
	            	<span>{{ "menu.contact" | trans }}</span>
	            </a>
	        </li>
	    </ul>
	</nav>
    <aside id="translator">
        <div id="country-select">
            <form action="server-side-script.php">
                <select id="country-options" name="country-options">
                    {% for langCode, language in languages %}
                        {% set variables = {"_locale": langCode} %}
                        {% if app.request.attributes.get('slug') is defined and app.request.attributes.get('slug') is not null %}
                            {% set variables = {'_locale' : langCode, 'slug' : app.request.attributes.get('slug')} %}
                        {% endif %}

                        <option title="{{ path(app.request.attributes.get('_route'), variables) }}" value="{{ langCode }}" {% if(app.request.attributes.get('_locale') == langCode)%}selected="selected" {% endif %}>{{ language }}</option>
                    {% endfor %}
                </select>
                <input value="Select" type="submit" />
            </form>
        </div>
    </aside>
</header>