<ul class="sharebar">
	<li>
		<a href="http://www.facebook.com/share.php?u={{ uri }}" target="_blank">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/facebook.png') }}" alt="Facebook" title="Partager sur Facebook" />
		</a>
	</li>
	<li>
		<a href="http://twitter.com/share?url={{ uri }}" target="_blank">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/twitter.png') }}" alt="Twitter" title="Partager sur Twitter" />
		</a>
	</li>
	<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ uri }}" target="_blank">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/linkedin.png') }}" alt="Linkedin" title="Partager sur Linkedin" />
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/share?url={{ uri }}" target="_blank">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/google.png') }}" alt="Google +" title="Partager sur Google +" />
		</a>
	</li>
</ul>