{% extends 'PortfolioBundle::base.html.twig' %}
{% form_theme form 'PortfolioBundle:Forms:fields.html.twig' %}

{% block body %}

<article class="full full-contact">

    <h1>{{ "contact.title.main" | trans }}</h1>

    <section class="form box">
        <header>
            <h1>{{ "contact.title.form" | trans }}</h1>
            {% if contact is not empty %}
                <div class="description">
                    {{ contact.accrocheForm  | raw }}
                </div>
            {% endif %}

        </header>
        <form action="{{ path('post_contact_form') }}" method="post" {{ form_enctype(form) }}>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notif">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <button class="bouton" type="submit" >{{ "contact.form.submit" | trans }}</button>
            <div class="content">{{ "contact.form.require" | trans |raw }}</div>
        </form>
    </section>

    {% if reseaux is not empty %}
        <section class="reseaux">
                <header>
                    <h1>{{ "contact.title.network" |trans }} </h1>
                    {% if contact is not empty %}
                        <div class="description">
                            {{ contact.accrocheReseaux | raw }}
                        </div>
                    {% endif %}
                </header>

            {% for reseau in reseaux %}
                <a class="{{ reseau.classReseau }}" target="_blank" href="{{ reseau.url }}" title="{{ reseau.nom }}">
                    <header>
                        <h1>{{ reseau.nom }}</h1>
                    </header>
                    <div class="visuel">
                        <img src="{{ asset('/bundles/portfolio/images/') }}{{ reseau.urlImage }}" alt="{{ reseau.nom }}" title="{{ reseau.nom }}" />
                    </div>
                    <div class="description content">
                        {{ reseau.description | raw }}
                    </div>
                </a>
            {% endfor %}
        </section>
    {% endif %}
</article>

{% endblock %}