{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}
{% form_theme form 'PortfolioBundle:Forms:fields.html.twig' %}

{% block body %}

<article class="full full-contact">

    <h1>Contactez moi</h1>
    <form action="{{ path('post_contact_form') }}" method="post" {{ form_enctype(form) }}>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="notif">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <button class="bouton" type="submit" >Envoyer</button>
    </form>

</article>

{% endblock %}