{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}
    <div class="full full-home">
        {% if home is not null %}
            <header>
                <h1>{{ home.titre }}</h1>
                <img src={{ asset("/bundles/portfolio/images/content/home") }}{{ home.urlImage }} />
                <div class="accroche content middle">
                    {{ home.accroche | raw }}
                </div>
            </header>

            <article id="encemoment">
                <div class="content box">
                    <h1>{{ "home.title.learn" | trans }}</h1>
                    <div class="content">
                        {{ home.apprendre }}
                    </div>
                </div>
                <div class="content box">
                    <h1>{{ "home.title.work" | trans }}</h1>
                    <div class="content">
                        {{ home.construire }}
                    </div>
                </div>
            </article>
        {% endif %}
    </div>

{% endblock %}