{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}

{% block body %}
    <div class="full full-cv">
        <h1>{{ "career.title.main" | trans }}</h1>

        <div class="row">
            <article class="box" id="etude">
                <header>
                    <h1>{{ "career.title.studies" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheEtudes | raw }}
                        {% endif %}
                    </div>
                </header>
                {% if studies is not empty %}
                    <ul>
                        {% for study in studies %}
                            <li>
                                <section class="exp_etude">
                                    <header>
                                        <h1>{{ study.getNom }}</h1>
                                        <time>{{ study.getDate | date("d/m/Y") }}</time>
                                    </header>
                                    <div class="visuel"><img src="/bundles/portfolio/images/content/parcours_etudes{{ study.urlImage }}"
                                                             alt="{{ study.nom }}"/></div>
                                    <div class="content">{{ study.description | raw}}</div>
                                </section>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
            <article class="box" id="experiences">
                <header>
                    <h1>{{ "career.title.experiences" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheExperiences | raw }}
                        {% endif %}
                    </div>
                </header>
                {% if career is not empty %}
                    <ul>
                        {% for experience in experiences %}
                            <li>
                                <section class="exp_pro">
                                    <header>
                                        <h1>{{ experience.getNom }}</h1>
                                        <time>{{ experience.getDate | date("d/m/Y") }}</time>
                                    </header>
                                    <div class="visuel"><img src="/bundles/portfolio/images/content/parcours_experiences{{ experience.urlImage }}"
                                                             alt="{{ experience.getNom }}"/></div>
                                    <div class="content">{{ experience.description | raw}}</div>
                                </section>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
        </div>
        <div class="row">
            <article class="box">
                <header>
                    <h1>{{ "career.title.moreexperiences" | trans }}</h1>

                    <div class="accroche content">
                        {% if catchphrase is not null %}
                            {{ catchphrase.getAccrocheExperiencesComplementaires | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    {% if career is not null %}
                        {{ career.getExperiencesComplementaires | raw }}
                    {% endif %}
                </div>
            </article>

            <article class="box">
                <header>
                    <h1>{{ "career.title.interests" | trans }}</h1>

                    <div class="accroche content">
                        {% if catchphrase is not null %}
                            {{ catchphrase.getAccrocheInterets | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    {% if career is not null %}
                        {{ career.getInterets | raw }}
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

{% endblock %}