{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-cv">
        <h1>{{ "career.title.main" | trans }}</h1>

        <div class="row">
            <article class="box" id="experiences">
                <header>
                    <h1>{{ "career.title.experiences" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheExperiences | raw }}
                        {% endif %}
                    </div>
                </header>
                {% if experiences is not empty %}
                    <ul>
                        {% for experience in experiences %}
                            <li>
                                <section class="exp_pro">
                                    <header>
                                        <h1>{{ experience.getNom }}</h1>
                                        <time>{{ experience.getDate | date("d/m/Y") }}</time>
                                    </header>
                                    <div class="visuel">
                                        <img src="/bundles/portfolio/images/content/parcours_experiences{{ experience.getUrlImage }}"
                                             alt="{{ experience.getNom }}" title="{{ experience.getNom }}"/>
                                    </div>
                                    <div class="content">{{ experience.getDescription | raw}}</div>
                                </section>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
            <article class="box" id="etude">
                <header>
                    <h1>{{ "career.title.studies" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheEtudes | raw }}
                        {% endif %}
                    </div>
                </header>
                {% if etudes is not empty %}
                    <ul>
                        {% for etude in etudes %}
                            <li>
                                <section class="exp_etude">
                                    <header>
                                        <h1>{{ etude.getNom }}</h1>
                                        <time>{{ etude.getDate | date("d/m/Y") }}</time>
                                    </header>
                                    <div class="visuel"><img src="/bundles/portfolio/images/content/parcours_etudes{{ etude.urlImage }}"
                                                             alt="{{ etude.nom }}"/></div>
                                    <div class="content">{{ etude.description | raw}}</div>
                                </section>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
        </div>
        <div class="row">
            <article class="box">
                <header>
                    <h1>{{ "career.title.moreexperiences" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheExperiencesComplementaires | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    {% if parcours is not null %}
                        {{ parcours.getExperiencesComplementaires | raw }}
                    {% endif %}
                </div>
            </article>

            <article class="box">
                <header>
                    <h1>{{ "career.title.interests" | trans }}</h1>

                    <div class="accroche content">
                        {% if accroches is not null %}
                            {{ accroches.getAccrocheInterets | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    {% if parcours is not null %}
                        {{ parcours.getInterets | raw }}
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

{% endblock %}