{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-projets">
        <h1>{{ "projects.title.main" | trans }}</h1>
        {% if groupes is not empty %}
            <div class="list-groupe">
                <span>{{ "projects.title.filters" | trans }}</span>
                {% for key, group in groupes %}
                    <a class="groupe" data-id="{{ key }}" href="#">{{ group }}</a>
                {% endfor %}
                <a class="groupe all" data-id="projet" href="#">{{ "projects.filters.all" | trans }}</a>
            </div>
        {% endif %}

        {% if projets is not null %}
            <ul class="list-projet">
                {% for projet in projets  %}
                    <li class="{% for groupe in projet.getProjetsGroupe  %} {{  groupe.getNomFormate  }} {% endfor %} projet">
                        <article>
                            <a href="{{ path( 'projet_interieur' , { 'slug': projet.slug }) }}">
                                <figure class="visuel">
                                    <img src="{{ asset( '/bundles/portfolio/images/content/projets_miniatures' )}}{{ projet.urlMiniature }}" alt="visuel"/>
                                    <figcaption>
                                        <h1>{{ projet.nom }}</h1>

                                        <div class="accroche">
                                            {{ projet.description | raw }}
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}