{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}
{% import 'PortfolioBundle::macros.html.twig' as macros %}


{% block body %}
    {% if projet is not empty %}
        <article class="full full-projet-interieur">
            <h1>{{ projet.nom }}</h1>
            {% if projet.urlExternal is not empty %}
                <a class="projet-link" title="{{ projet.nom }}"
                   href="http://{{ projet.urlExternal }}" target="_blank"
                >
                    {{ "innerproject.websitelink" | trans }}
                </a>
            {% else %}
                <p>{{ "innerproject.websitedead" | trans }}</p>
            {% endif %}

            <div class="accroche content">
                {{ projet.description | raw  }}
                <p>{% for groupe in projet.getProjetsGroupe  %} {{ "innerproject.copyright" | trans }} <strong>{{  groupe.getNom  }}</strong>. {% endfor %}</p>
            </div>

            {% if images is not empty %}
                <div class="gallery">
                    <ul class="slides">
                        {% for image in images %}
                            <li>
                                <a data-lightbox="image-projet" href="{{ asset('/bundles/portfolio/images/content/projets') }}{{ image.url }}">
                                    <img src="{{ asset('/bundles/portfolio/images/content/projets') }}{{ image.url }}"  alt="{{ image.nom }}" /></a>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <section class="middle content">
                <header>
                    <h1>{{ "innerproject.title.technology" | trans }}</h1>
                </header>
                <div>
                    {{ projet.technologies | raw }}
                </div>
            </section>

            <div class="row">
                <section class="box content">
                    <header>
                        <h1>{{ "innerproject.title.constraints" | trans }}</h1>
                    </header>
                    <div>
                        {{ projet.difficultes | raw }}
                    </div>
                </section>

                <section class="box content">
                    <header>
                        <h1>{{ "innerproject.title.projectskills" | trans }}</h1>
                    </header>
                    <div>
                        {{ projet.competencesAcquises | raw }}
                    </div>
                </section>
            </div>
        </article>
    {% endif %}

{% endblock %}