{% extends 'PortfolioBundle::base.html.twig' %}

{% block body %}

    <div class="full full-quisuisje">
        <h1>{{ "whoami.title.main" | trans }}</h1>

        <article class="middle box content">
            <header>
                <h1>{{ "whoami.title.why" | trans }}</h1>
            </header>
            <div>
                {% if whoAmI is not empty %}
                    {{ whoAmI.pourquoi | raw }}
                {% endif %}
            </div>
        </article>

        {% if techSkills or otherSkills is not empty %}
            <article id="competences" class="box competences-groupe content">
                <header>
                    <h1>{{ "whoami.title.skills" | trans }}</h1>
                    {% if catchphrase is not empty  %}
                        <div class="accroche">
                                {{ catchphrase.accrocheCompetences | raw }}
                        </div>
                    {% endif %}
                </header>
                {% if techSkills is not empty %}
                    <section class="competences-groupe">
                        <h1>{{ "whoami.skills.tech" | trans }}</h1>
                        <ul>
                            {% for techSkill in techSkills %}
                                <li class="competence">
                                   <h2 class="accordeon no-active" data-id="{{ techSkill.getNomFormate }}">{{ techSkill.nom }}</h2>
                                   <div class="description  {{ techSkill.getNomFormate }}">
                                        {{ techSkill.description  | raw  }}
                                   </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
               {% endif %}
               {% if otherSkills is not empty %}
                    <section class="competences-groupe">
                        <h1>{{ "whoami.skills.others" | trans }}</h1>
                        <ul>
                            {% for otherSkill in otherSkills %}
                                <li class="competence">
                                    <h2 class="accordeon no-active" data-id="{{ otherSkill.getNomFormate }}">{{ otherSkill.nom }}</h2>
                                    <div class="description  {{ otherSkill.getNomFormate }}">
                                        {{ otherSkill.description | raw }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </article>
        {% endif %}

        <div class="row">
            <article class="content box">
                <header>
                    <h1>{{ "whoami.title.conception" | trans }}</h1>
                    {% if catchphrase is not empty %}
                        <div class="accroche">
                                {{ catchphrase.getAccrocheMethodes | raw }}
                        </div>
                    {% endif %}
                </header>
                <div>
                    {%  if whoAmI is not empty %}
                        {{ whoAmI.getMethodes | raw }}
                    {% endif %}
                </div>
            </article>
            <article class="content box">
                <header>
                    <h1>{{ "whoami.title.workflow" | trans }}</h1>
                    {% if catchphrase is not empty %}
                        <div class="accroche">
                            {{ catchphrase.getAccrochePolitique | raw }}
                        </div>
                    {% endif %}
                </header>
                <div>
                    {% if whoAmI is not empty %}
                        {{ whoAmI.getPolitique | raw }}
                    {% endif %}
                </div>
            </article>
        </div>
        <article class="content box middle">
            <header>
                <h1>{{ "whoami.title.moreInformation" | trans }}</h1>
                {% if catchphrase is not empty %}
                    <div class="accroche"> {{ catchphrase.getAccrocheInfos | raw }}</div>
                {% endif %}
            </header>
            <div>
                {% if whoAmI is not empty %}
                    {{ whoAmI.getInfos | raw }}
                {% endif %}
            </div>
        </article>
    </div>

{% endblock %}