{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-quisuisje">
        <h1>{{ "whoami.title.main" | trans }}</h1>

        <article class="middle box content">
            <header>
                <h1>{{ "whoami.title.why" | trans }}</h1>
            </header>
            <div>
                {% if quisuisje is not empty %}
                    {{ quisuisje.pourquoi | raw }}
                {% endif %}
            </div>
        </article>

        {% if competencesTech or competencesAutre is not empty %}
            <article id="competences" class="box competences-groupe content">
                <header>
                    <h1>{{ "whoami.title.skills" | trans }}</h1>
                    {% if accroches is not empty  %}
                        <div class="accroche">
                                {{ accroches.accrocheCompetences | raw }}
                        </div>
                    {% endif %}
                </header>
                {% if competencesTech is not empty %}
                    <section class="competences-groupe">
                        <h1>{{ "whoami.skills.tech" | trans }}</h1>
                        <ul>
                            {% for competenceTech in competencesTech %}
                                <li class="competence">
                                   <h2 class="accordeon no-active" data-id="{{ competenceTech.getNomFormate }}">{{ competenceTech.nom }}</h2>
                                   <div class="description  {{ competenceTech.getNomFormate }}">
                                        {{ competenceTech.description  | raw  }}
                                   </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
               {% endif %}
               {% if competencesAutre is not empty %}
                    <section class="competences-groupe">
                        <h1>{{ "whoami.skills.others" | trans }}</h1>
                        <ul>
                            {% for competenceAutre in competencesAutre %}
                                <li class="competence">
                                    <h2 class="accordeon no-active" data-id="{{ competenceAutre.getNomFormate }}">{{ competenceAutre.nom }}</h2>
                                    <div class="description  {{ competenceAutre.getNomFormate }}">
                                        {{ competenceAutre.description | raw }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </article>
        {% endif %}

        <div class="row">
            <article class="content box">
                <header>
                    <h1>{{ "whoami.title.conception" | trans }}</h1>
                    {% if accroches is not empty %}
                        <div class="accroche">
                                {{ accroches.getAccrocheMethodes | raw }}
                        </div>
                    {% endif %}
                </header>
                <div>
                    {%  if quisuisje is not empty %}
                        {{ quisuisje.getMethodes | raw }}
                    {% endif %}
                </div>
            </article>
            <article class="content box">
                <header>
                    <h1>{{ "whoami.title.workflow" | trans }}</h1>
                    {% if accroches is not empty %}
                        <div class="accroche">
                            {{ accroches.getAccrochePolitique | raw }}
                        </div>
                    {% endif %}
                </header>
                <div>
                    {% if quisuisje is not empty %}
                        {{ quisuisje.getPolitique | raw }}
                    {% endif %}
                </div>
            </article>
        </div>
        <article class="content box middle">
            <header>
                <h1>{{ "whoami.title.moreInformation" | trans }}</h1>
                {% if accroches is not empty %}
                    <div class="accroche"> {{ accroches.getAccrocheInfos | raw }}</div>
                {% endif %}
            </header>
            <div>
                {% if quisuisje is not empty %}
                    {{ quisuisje.getInfos | raw }}
                {% endif %}
            </div>
        </article>
    </div>

{% endblock %}