{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-quisuisje">
        <h1>Qui suis-je ?</h1>

        <article class="middle content">
            <header>
                <h1>Pourquoi développeur web ?</h1>
            </header>
            <div class="content">
                {% if quisuisje is not empty %}
                    {{ quisuisje.getPourquoi | raw }}
                {% endif %}
            </div>
        </article>

        <div class="row">
            <article class="content box" id="competence">
                <header>
                    <h1>Compétences</h1>
                    <div class="accroche">
                        {% if accroches is not empty  %}
                            {{ accroches.getAccrocheCompetences | raw }}
                        {% endif %}
                    </div>
                </header>

                <section id="langages">
                    <ul>
                        {% if quisuisje is not empty %}
                           {{ quisuisje.getCompetencesTech | raw }}
                        {% endif %}
                    </ul>
                </section>
                <section id="communication">
                    <ul>
                        {%  if quisuisje is not empty %}
                            {{ quisuisje.getCompetencesCom | raw }}
                        {% endif %}
                    </ul>
                </section>
            </article>

            <article class="content box">
                <header>
                    <h1>Methodes de conception.</h1>
                    <div class="accroche">
                        {% if accroches is not empty %}
                            {{ accroches.getAccrocheMethodes | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    <ul>
                        {%  if quisuisje is not empty %}
                            {{ quisuisje.getMethodes | raw }}
                        {% endif %}
                    </ul>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="content box">
                <header>
                    <h1>Politique / Workflow</h1>
                    <div class="accroche">
                        {% if accroches is not empty %}
                            {{ accroches.getAccrochePolitique | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    <ul>
                        {% if quisuisje is not empty %}
                            {{ quisuisje.getPolitique | raw }}
                        {% endif %}
                    </ul>
                </div>
            </article>

            <article class="content box">
                <header>
                    <h1>Informations complémentaires</h1>
                    {% if accroches is not empty %}
                        <div class="accroche"> {{ accroches.getAccrocheInfos | raw }}</div>
                    {% endif %}
                </header>
                <div class="content">
                    <ul>
                        {% if quisuisje is not empty %}
                            {{ quisuisje.getInfos | raw }}
                        {% endif %}
                    </ul>
                </div>
            </article>
        </div>
    </div>

{% endblock %}