{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-quisuisje">
        <h1>Qui suis-je ?</h1>

        <article class="middle content">
            <header>
                <h1>Pourquoi développeur web ?</h1>
            </header>
            <div class="content">
                {% if quisuisje is not empty %}
                    {{ quisuisje.pourquoi | raw }}
                {% endif %}
            </div>
        </article>

        {% if competencesTech or competencesAutre is not empty %}
            <article id="competences" class="box competences-groupe content">
                <header>
                    <h1>Compétences</h1>
                    <div class="accroche">
                        {% if accroches is not empty  %}
                            {{ accroches.accrocheCompetences | raw }}
                        {% endif %}
                    </div>
                </header>
                {% if competencesTech is not empty %}
                    <section class="competences-groupe">
                        <h1>Compétences techniques</h1>
                        <ul>
                            {% for competenceTech in competencesTech %}
                                <li class="competence">
                                   <h2 class="accordeon no-active" data-id="{{ competenceTech.getNomFormate }}">{{ competenceTech.nom }}</h2>
                                   <div class="description  {{ competenceTech.getNomFormate }}">
                                        {{ competenceTech.description  | raw  }}
                                   </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
               {% endif %}
               {% if competencesAutre is not empty %}
                    <section class="competences-groupe">
                        <h1>Autres compétences</h1>
                        <ul>
                            {% for competenceAutre in competencesAutre %}
                                <li class="competence">
                                    <h2 class="accordeon no-active" data-id="{{ competenceAutre.getNomFormate }}">{{ competenceAutre.nom }}</h2>
                                    <div class="description  {{ competenceAutre.getNomFormate }}">
                                        {{ competenceAutre.description | raw }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </article>
        {% endif %}

        <div class="row">
            <article class="content box">
                <header>
                    <h1>Methodes de conception.</h1>
                    <div class="accroche">
                        {% if accroches is not empty %}
                            {{ accroches.getAccrocheMethodes | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    <ul>
                        {%  if quisuisje is not empty %}
                            {{ quisuisje.getMethodes | raw }}
                        {% endif %}
                    </ul>
                </div>
            </article>
            <article class="content box">
                <header>
                    <h1>Politique / Workflow</h1>
                    <div class="accroche">
                        {% if accroches is not empty %}
                            {{ accroches.getAccrochePolitique | raw }}
                        {% endif %}
                    </div>
                </header>
                <div class="content">
                    <ul>
                        {% if quisuisje is not empty %}
                            {{ quisuisje.getPolitique | raw }}
                        {% endif %}
                    </ul>
                </div>
            </article>
        </div>
        <article class="content middle">
            <header>
                <h1>Informations complémentaires</h1>
                {% if accroches is not empty %}
                    <div class="accroche"> {{ accroches.getAccrocheInfos | raw }}</div>
                {% endif %}
            </header>
            <div class="content">
                <ul>
                    {% if quisuisje is not empty %}
                        {{ quisuisje.getInfos | raw }}
                    {% endif %}
                </ul>
            </div>
        </article>
    </div>

{% endblock %}