{% extends 'PortfolioBundle:Emails:layout.html.twig' %}

{% block email_title %}{{ sujet }}{% endblock %}

{% block content %}
    <h1>{{ sujet }}</h1>

    <p>Un mail viens du portfolio :</p>

    <div>
        Nom : {{ nom }} <br />
        Prénom : {{ prenom }} <br />
        Sujet : {{ sujet }} <br />
        Société : {{ societe }} <br />
        Adresse : {{ adresse }} <br />
        Téléphone : {{ telephone }} <br />
        Message {{ message }} <br />
   </div>
{% endblock %}











